.page {
}

.welcomeMessage {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dashboard {
  height: 100%;
}

.gridContainer {
  background: yellow;
  display: grid;
  grid-template-columns: 100px 30px 50px;
  column-gap: 10px;
  row-gap: 5px;
  grid-template-rows: auto;
  grid-template-areas: 'url alias visits';
  justify-items: center;
  height: 100%;
}

.row {
  background-color: orange;
}

.errorMessage {
  font-weight: bold;
  color: red;
}
